@media screen and (max-width: 550px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 12px;
    color: white;
    font-weight: bolder;
    height: 65px; }
    .header-left {
      margin-left: 30px;
      display: flex;
      width: 50%;
      border-right: 1px solid rgba(124, 124, 124, 0.447); }
    .header-mid {
      display: none;
      width: 65%; }
      .header-mid-titles {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 13%; }
      .header-mid-titles:hover {
        background-color: rgba(100, 100, 100, 0.55); }
    .header-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%; }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .logo img {
      width: 50%;
      height: 70%; }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 90%;
    height: 50%; }
    .search-input {
      display: none;
      background-color: rgba(255, 0, 0, 0);
      width: 100%;
      height: 50%;
      border: none;
      margin-left: 2%;
      color: white; }
    .search-input::placeholder {
      color: white;
      font-size: 12px; }
    .search-menu {
      display: block; }
    .search svg {
      margin-left: 5%;
      width: 100%;
      height: 100%; }
    .search svg:hover {
      width: 110%;
      height: 110%; }
  .login {
    display: flex;
    width: 70%;
    height: 100%; }
    .login-symbol {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      margin-left: 20%; }
      .login-symbol svg {
        height: 50%; }
    .login-title {
      display: none;
      margin-left: 3%;
      align-items: center;
      width: 80%; }
  .featured {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .featured-header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      width: 98%;
      margin-top: 3%;
      margin-bottom: 1%; }
      .featured-header-left {
        font-weight: bold;
        color: #5f5f5f; }
      .featured-header-right {
        color: #a2a2a2; }
    .featured-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .featured-content-left {
        position: relative;
        width: 98%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/img/featured1.jpg.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
        .featured-content-left-post {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          position: absolute;
          width: 100%;
          height: 50%;
          bottom: 0%;
          left: 0%;
          background-color: rgba(0, 0, 0, 0.255); }
          .featured-content-left-post-title {
            color: white;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 96%;
            padding-left: 1%;
            padding-right: 3%;
            height: 50%;
            font-size: 24px; }
          .featured-content-left-post-subtitle {
            color: rgba(255, 247, 247, 0.667);
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 96%;
            height: 26%;
            padding-left: 1%;
            padding-right: 3%;
            font-size: 15px; }
          .featured-content-left-post-area {
            display: flex;
            align-items: end;
            padding-left: 1%;
            padding-right: 3%;
            width: 96%;
            margin-top: 1%;
            height: 10%; }
            .featured-content-left-post-area-svg {
              width: 2px;
              height: 80%;
              border-left: solid 2px red; }
            .featured-content-left-post-area-text {
              color: rgba(255, 255, 255, 0.58);
              font-size: 10px;
              font-weight: bold; }
      .featured-content-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 200px;
        margin-top: 3%; }
        .featured-content-right-post {
          width: 48%;
          height: 48%;
          display: flex;
          flex-direction: column;
          justify-content: end; }
          .featured-content-right-post-subsection {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 55%;
            background-color: rgba(0, 0, 0, 0.255); }
            .featured-content-right-post-subsection-title {
              color: white;
              white-space: wrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-left: 2%;
              padding-right: 3%;
              font-size: 16px;
              width: 95%;
              height: 70%; }
            .featured-content-right-post-subsection-area {
              display: flex;
              width: 95%;
              padding-left: 2%;
              padding-right: 3%;
              height: 30%;
              align-items: center; }
              .featured-content-right-post-subsection-area-svg {
                width: 2px;
                height: 60%;
                border-left: 2px solid red; }
              .featured-content-right-post-subsection-area-text {
                color: rgba(255, 255, 255, 0.58);
                margin-left: 3px;
                font-size: 10px;
                font-weight: bold; }
  .content-1 {
    background-image: url(/img//indir.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .content-2 {
    background-image: url(/img/indir2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .content-3 {
    background-image: url(/img/indir3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .content-4 {
    background-image: url(/img/p0dqpgsh.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 93%;
    margin-top: 20px;
    height: 400px; }
    .news-header {
      width: 100%;
      height: 10%;
      margin-left: 2%;
      display: flex;
      align-items: center; }
      .news-header-svg {
        width: 2px;
        height: 50%;
        border-left: 4px solid red; }
      .news-header-text {
        color: black;
        font-size: 20px;
        font-weight: bold;
        margin-left: 5px; }
    .news-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 95%;
      height: 90%;
      margin-top: 3%; }
      .news-content-post {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #b9b9b9; }
        .news-content-post img {
          display: none; }
        .news-content-post-title {
          color: black;
          font-size: 15px;
          font-weight: bold;
          display: flex;
          align-items: center;
          width: 100%;
          height: 50%; }
        .news-content-post-subtitle {
          display: none;
          align-items: center;
          color: rgba(62, 62, 62, 0.885);
          font-size: 12px;
          width: 100%;
          height: 15%; }
        .news-content-post-area {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center; }
          .news-content-post-area-svg {
            border-left: solid 3px red;
            height: 20%;
            width: 1px; }
          .news-content-post-area-text {
            color: rgba(79, 79, 79, 0.65);
            font-size: 12px;
            font-weight: bold;
            margin-left: 4px; } }

@media screen and (min-width: 550px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header {
    display: flex;
    background-color: black;
    font-size: 12px;
    color: white;
    font-weight: bolder;
    height: 65px; }
    .header-left {
      margin-left: 30px;
      display: flex;
      width: 25%;
      border-right: 1px solid rgba(124, 124, 124, 0.332); }
    .header-mid {
      display: flex;
      width: 65%; }
      .header-mid-titles {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 13%; }
      .header-mid-titles:hover {
        background-color: rgba(100, 100, 100, 0.55); }
    .header-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%; }
  .logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .logo img {
      width: 70%;
      height: 80%; }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 90%;
    height: 50%; }
    .search-input {
      display: none;
      background-color: rgba(255, 0, 0, 0);
      width: 100%;
      height: 50%;
      border: none;
      margin-left: 2%;
      color: white; }
    .search-input::placeholder {
      color: white;
      font-size: 12px; }
    .search-menu {
      display: none; }
    .search svg {
      margin-left: 5%;
      width: 90%;
      height: 90%; }
  .search:hover {
    width: 95%;
    height: 60%; }
  .login {
    display: flex;
    width: 70%;
    height: 100%; }
    .login-symbol {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      margin-left: 20%; }
      .login-symbol svg {
        height: 50%;
        width: 90%;
        border-radius: 0; }
    .login-title {
      display: none;
      margin-left: 3%;
      align-items: center;
      width: 80%; }
  .featured {
    width: 95%;
    display: flex;
    flex-direction: column; }
    .featured-header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      width: 100%;
      margin-top: 3%;
      margin-bottom: 1%; }
      .featured-header-left {
        font-size: 20px;
        font-weight: bold;
        color: #5f5f5f; }
      .featured-header-right {
        font-size: 20px;
        color: rgba(100, 100, 100, 0.55); }
    .featured-content {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .featured-content-left {
        position: relative;
        width: 98%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/img/featured1.jpg.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-origin: border-box; }
        .featured-content-left-post {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          position: absolute;
          width: 100%;
          height: 50%;
          bottom: 0%;
          left: 0%;
          background-color: rgba(0, 0, 0, 0.255); }
          .featured-content-left-post-title {
            color: white;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 94%;
            padding-left: 1%;
            padding-right: 5%;
            height: 54%;
            font-size: 35px; }
          .featured-content-left-post-subtitle {
            color: rgba(255, 247, 247, 0.667);
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 94%;
            height: 30%;
            padding-left: 1%;
            padding-right: 5%;
            font-size: 20px; }
          .featured-content-left-post-area {
            display: flex;
            align-items: center;
            width: 99%;
            padding-left: 1%;
            height: 20%; }
            .featured-content-left-post-area-svg {
              width: 2px;
              height: 50%;
              border-left: 3px red solid; }
            .featured-content-left-post-area-text {
              color: rgba(255, 255, 255, 0.58);
              font-size: 15px;
              margin-left: 3px;
              font-weight: bold; }
      .featured-content-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 350px;
        margin-top: 2%; }
        .featured-content-right-post {
          width: 48%;
          height: 48%;
          display: flex;
          flex-direction: column;
          justify-content: end; }
          .featured-content-right-post-subsection {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 40%;
            background-color: rgba(0, 0, 0, 0.255); }
            .featured-content-right-post-subsection-title {
              color: white;
              white-space: wrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 20px;
              width: 94%;
              height: 70%;
              padding-left: 2%;
              padding-right: 4%; }
            .featured-content-right-post-subsection-area {
              font-size: 12px;
              display: flex;
              width: 98%;
              height: 30%;
              align-items: center;
              padding-left: 2%; }
              .featured-content-right-post-subsection-area-svg {
                width: 2px;
                height: 50%;
                border-left: 2px solid red; }
              .featured-content-right-post-subsection-area-text {
                color: rgba(255, 255, 255, 0.58);
                margin-left: 3px;
                font-size: 10px;
                font-weight: bold; }
  .content-1 {
    background-image: url(/img//indir.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box; }
  .content-2 {
    background-image: url(/img/indir2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box; }
  .content-3 {
    background-image: url(/img/indir3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box; }
  .content-4 {
    background-image: url(/img/p0dqpgsh.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box; }
  .news {
    width: 93%;
    margin-top: 30px;
    height: 400px; }
    .news-header {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center; }
      .news-header-svg {
        border-left: solid 4px red;
        width: 2px;
        height: 40%; }
      .news-header-text {
        font-size: #5f5f5f;
        font-weight: bold;
        margin-left: 3px; }
    .news-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 90%;
      margin-top: 2%; }
      .news-content-post {
        width: 32%;
        height: 90%;
        display: flex;
        flex-direction: column; }
        .news-content-post img {
          width: 100%;
          height: 50%; }
        .news-content-post-title {
          color: black;
          font-size: 15px;
          font-weight: bold;
          display: flex;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          margin-top: 2%;
          height: 11%; }
        .news-content-post-subtitle {
          display: flex;
          color: rgba(62, 62, 62, 0.885);
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          width: 100%;
          height: 13%;
          margin-top: 2%; }
        .news-content-post-area {
          width: 100%;
          height: 3%;
          margin-top: 2%;
          display: flex;
          align-items: end; }
          .news-content-post-area-svg {
            width: 2px;
            height: 100%;
            border-left: 3px solid red; }
          .news-content-post-area-text {
            color: rgba(79, 79, 79, 0.65);
            font-size: 10px;
            font-weight: bold;
            margin-left: 1px; } }

@media screen and (min-width: 900px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 12px;
    color: white;
    font-weight: bolder;
    height: 65px; }
    .header-left {
      margin-left: -2%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17%;
      border-right: 1px solid rgba(124, 124, 124, 0.332); }
    .header-mid {
      display: flex;
      width: 37%; }
      .header-mid-titles {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 13%; }
      .header-mid-titles:hover {
        background-color: rgba(100, 100, 100, 0.55); }
    .header-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%; }
  .logo {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 80%; }
    .logo img {
      width: 70%;
      height: 100%; }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.55);
    width: 90%;
    height: 50%; }
    .search-input {
      display: block;
      background-color: rgba(255, 0, 0, 0);
      width: 100%;
      height: 50%;
      border: none;
      margin-left: 2%;
      color: white; }
    .search-input::placeholder {
      color: white;
      font-size: 12px; }
    .search svg {
      margin-left: 5%;
      width: 15%;
      height: 40%; }
  .search:hover {
    width: 95%;
    height: 60%; }
  .login {
    display: flex;
    margin-left: 5%;
    width: 65%;
    height: 100%; }
    .login-symbol {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22%;
      margin-left: 5%; }
      .login-symbol svg {
        height: 40%; }
    .login-title {
      display: flex;
      margin-left: 3%;
      align-items: center;
      width: 80%; }
  .featured {
    width: 64%;
    display: flex;
    flex-direction: column; }
    .featured-header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      width: 100%;
      margin-top: 3%;
      margin-bottom: 1%;
      font-size: 22px; }
      .featured-header-left {
        font-weight: bold;
        color: #5f5f5f; }
      .featured-header-right {
        color: rgba(100, 100, 100, 0.55); }
    .featured-content {
      display: flex;
      flex-direction: row; }
      .featured-content-left {
        position: relative;
        width: 39%;
        margin-right: 1%;
        height: 343px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/img/featured1.jpg.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-origin: border-box; }
        .featured-content-left-post {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          position: absolute;
          width: 96%;
          padding: 2%;
          height: 40%;
          bottom: 0%;
          left: 0%;
          background-color: rgba(0, 0, 0, 0.255); }
          .featured-content-left-post-title {
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
            width: 100%;
            height: 45%;
            font-size: 25px; }
          .featured-content-left-post-subtitle {
            color: rgba(255, 247, 247, 0.667);
            width: 100%;
            height: 38%;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px; }
          .featured-content-left-post-area {
            display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
            margin-left: 1.5%; }
            .featured-content-left-post-area-svg {
              border-left: solid 2px red;
              width: 4px;
              height: 45%; }
            .featured-content-left-post-area-text {
              color: rgba(255, 255, 255, 0.58);
              font-size: 12px;
              font-weight: 400; }
      .featured-content-left:hover {
        opacity: 0.95; }
      .featured-content-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 350px;
        margin-top: 0; }
        .featured-content-right-post {
          width: 48%;
          height: 48%;
          display: flex;
          flex-direction: column;
          justify-content: end; }
          .featured-content-right-post-subsection {
            display: flex;
            flex-direction: column;
            width: 96%;
            padding: 2%;
            height: 41%;
            background-color: rgba(0, 0, 0, 0.255); }
            .featured-content-right-post-subsection-title {
              color: white;
              white-space: wrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 20px;
              width: 96%;
              height: 70%; }
            .featured-content-right-post-subsection-area {
              font-weight: bold;
              display: flex;
              width: 100%;
              height: 30%;
              align-items: center;
              margin-left: 2%; }
              .featured-content-right-post-subsection-area-svg {
                border-left: solid 2px red;
                width: 4px;
                height: 45%; }
              .featured-content-right-post-subsection-area-text {
                color: rgba(255, 255, 255, 0.58);
                margin-left: 1px;
                font-size: 12px;
                font-weight: 100; }
        .featured-content-right-post:hover {
          opacity: 0.95; }
  .content-1 {
    background-image: url(/img//indir.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .content-2 {
    background-image: url(/img/indir2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .content-3 {
    background-image: url(/img/indir3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .content-4 {
    background-image: url(/img/p0dqpgsh.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .news {
    width: 64%;
    margin-top: 30px;
    height: 400px; }
    .news-header {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center; }
      .news-header-svg {
        width: 3px;
        height: 50%;
        border-left: 4px solid red; }
      .news-header-text {
        font-size: 22px;
        color: #5f5f5f;
        font-weight: bold;
        margin-left: 3px; }
    .news-content {
      display: flex;
      justify-content: space-between;
      width: 99.5%;
      margin-top: 1%;
      margin-right: 0.5%;
      height: 90%; }
      .news-content-post {
        width: 32%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start; }
        .news-content-post img {
          width: 100%;
          height: 60%; }
        .news-content-post-title {
          display: flex;
          align-items: start;
          color: black;
          font-size: 20px;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 2%;
          width: 100%;
          height: 13%; }
        .news-content-post-subtitle {
          display: flex;
          align-items: start;
          color: rgba(62, 62, 62, 0.885);
          font-size: 14px;
          margin-top: 2%;
          width: 100%;
          height: 9%; }
        .news-content-post-area {
          width: 100%;
          height: 10%;
          margin-top: 2%;
          display: flex;
          align-items: center; }
          .news-content-post-area-svg {
            border-left: solid 2px red;
            width: 3px;
            height: 34%; }
          .news-content-post-area-text {
            color: rgba(79, 79, 79, 0.65);
            font-size: 12px;
            font-weight: 100;
            margin-left: 1px; }
      .news-content-post:hover {
        opacity: 0.96; } }
